*#
*.iml
*.ipr
*.iws
*.pyc
*.tm.epoch
*.vim
*-shim.sbt
.idea/
/project/plugins/project
project/boot
target/
/logs
.cache
.classpath
.project
.settings
.Rapp.history
stat/*.csv
stat/*.svg
stat/*.png
sbt-launch.jar
